<div class="fieldset arrayField">
	<div class="form-group">
		<label>{{title}}</label>
		<table>
			<tr>
				<th ng-if="data && data.length" ng-repeat="field in fields" >{{field.name|uppercase}}</th>
			</tr>
			<tr ng-repeat="item in data">
				<td ng-repeat="field in fields" >
                    <select ng-if="field.list" ng-model="item[field.name]" ng-options="list.test as (list.text) for list in lists[field.list]">
                        <option value="">Please select</option>
                    </select>
					<input ng-if="!field.list" type="{{field.type}}" ng-model="item[field.name]">
				</td>
                <td>
                    <span class="removeBtn glyphicon glyphicon-remove-circle" ng-click="removeItem($index)"></span>
                </td>
			</tr>
		</table>
		<button type="button" class="addBtn" ng-click="addItem()" id="addBtn">Add {{title}}</button>
	</div>
</div>