<div class="well well-sm clearfix" ng-if="user.projects.length || isAdmin">
    <h4>Timesheets</h4>
    <div ng-repeat="project in user.projects">
        <div class="panel panel-primary ">
            <div class="panel-heading clearfix">
				{{project.project.name}}
				<div class="pull-right">
					Joined: {{project.startDate | date}}
					<span ng-if="project.endDate">Ended: {{project.endDate | date}}</span>
					<button class="btn btn-primary" ng-click="project.editMode = true">
						<i class="glyphicon glyphicon-edit"></i>
					</button>
				</div>
			</div>
            <div class="panel-body">
				<div ng-if="project.editMode">
					<div class="panel panel-default">
						<div class="panel-body">
							Project Name: {{project.project.name}}<br>
							Join Date: {{project.startDate | date}}<br>
							End Date: {{project.endDate | date}}<br>
							<label class="form-group input-group" >End Date (You can only change End date)
								<div class="input-group" data-ng-controller="datepickerPopupCtrl">
									<input datepicker-popup="yyyy-MM-dd" is-open="opened" close-text="Close" ng-focus="toggleOpen($event)" type="text" data-ng-model="project.endDate" class="form-control" placeholder="End Date" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</div>
							</label>
							<button ng-click="saveProject(project)" class="btn btn-primary">Save</button> <button ng-click="project.editMode = false" class="btn btn-danger">Cancel</button>
						</div>
					</div>
				</div>
                <ul class="list-group">
                    <li class="list-group-item clearfix ts{{timesheet.status}}" ng-repeat="timesheet in project.timesheets | orderBy:'-start'">
                        <a ng-click="gotoTimesheet(user, project, timesheet)">{{timesheet.start | date}} to {{timesheet.end | date}}</a> {{timesheet.status}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="well well-sm clearfix" ng-if="newProjects">
        <div ng-repeat="project in newProjects">
            <label class="form-group">Project
                <div class="controls">
                    <ui-select reset-search-input ng-model="project.project" model-key="project.project" theme="bootstrap" >
                        <ui-select-match placeholder="Select a project from list or create new one">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item._id as item in projects | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                            <small ng-bind-html="item.vendor | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </label>

            <label class="form-group input-group" >Start Date
                <div class="input-group" data-ng-controller="datepickerPopupCtrl">
                    <input datepicker-popup="yyyy-MM-dd" is-open="opened" close-text="Close" ng-focus="toggleOpen($event)" type="text" data-ng-model="project.startDate" class="form-control" placeholder="Start Date" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
                </div>
            </label>

            <label class="form-group input-group" >End Date
                <div class="input-group" data-ng-controller="datepickerPopupCtrl">
                    <input datepicker-popup="yyyy-MM-dd" is-open="opened" close-text="Close" ng-focus="toggleOpen($event)" type="text" data-ng-model="project.endDate" class="form-control" placeholder="End Date" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
                </div>
            </label>
        </div>
        <button class="btn btn-primary pull-right" ng-click="saveNewProjects()">Save</button>
    </div>
    <div class="pull-right" ng-if="isAdmin">
        <a class="btn btn-primary" ng-click="addOne('newProjects')">
            <i class="glyphicon glyphicon-plus"></i> Add New Project
        </a>
    </div>
</div>